@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    list-style: none;
}
[class$=container]{
    display: flex;
    align-items: center;
    padding: .5rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
}

.info-bg{
    background-color: rgb(18, 42, 178);
}
.info-container, .menu-container{
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
}
.menu-bg{
    background-color: rgb(44, 112, 255);
    padding: .5rem 0rem;
}
.menu-container > h1{
    font-size: 2.25rem;
}
.ul-nav-header{
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}
.ul-nav-header a:hover{
    color: blue;
}
.intro-bg{
    padding: 2.5rem 0rem;
}
.intro{
    font-size: 3rem;
    max-width: 20ch;
    color: #222222;
    line-height: 59px;
}
.main-bg{
    padding: .5rem 0rem;
}
.main-container{
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding: 2rem 2rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}
.text > p{
    padding: .7rem 0rem;
    max-width: 37ch;
    font-size: 1.25rem;
    color: #7c7c7c;
}
.produtos-container{
    align-items: flex-start;
    flex-direction: column;
}
.produtos-container > h2{
    padding: 2rem 0rem;
}
.cards{
    display: flex;
    gap: 1rem;
    margin: 0 auto;
}
[class^=card]{
    width: 100%;
    align-items: flex-end;
}
[class^=card] > h2{
    color: #a4a4a4;
    font-size: 3rem;
    background-color: #f7f7f7;
    padding: 3.75rem 1.25rem;
}
[class^=card] > img{
    width: 100%;
}
.card-purple{
    border-top: .5rem solid #ae81ff;
}
.card-pink{
    border-top: .5rem solid #f9265e;
}
.card-blue{
    border-top: .5rem solid #66d9eb;
}

@media (max-width: 800px){
    [class$=container]{
        padding: 1rem .7rem;
        gap: .5rem;
    }
    .main-container{
        flex-wrap: wrap;
        padding: 2rem .7rem;
        gap: 1rem;
    }
    .main-container > img{
        width: 48%;
    }
    .main-bg{
        padding: 1rem .7rem;
    }
    .text > p{
        max-width: 1000%;
    }
    [class^=card]{
        flex-wrap: wrap;
    }
    .card-purple, .card-pink{
        width: 48.9%;
    }
}

@media (max-width: 425px){
    [class^=card]{
        flex-wrap: wrap;
    }
    .card-purple, .card-pink{
        width: 100%;
    }
}
